NODE_ENV=development
PORT=3000

DB_HOST=database
DB_PORT=5432
DB_USERNAME=USERNAME
DB_PASSWORD=PASSWORD
DB_DATABASE=DB_NAME
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"

AWS_REGION="us-east-1"
S3_BUCKET=""
SQS_QUEUE_URL=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
