# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.iml
out/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# deps
node_modules/

# dotenv
.env
.env.*.local

/dist

